.banner{
    position:relative;
    width:100%; height: 56vw;
    overflow: hidden;
}
.banner_img{
    list-style: none;
    position:relative;
    height: 56vw;
    -webkit-backface-visibility:hidden;
}
.banner_img>li{
    position:absolute; top:0; z-index:99;
    width:100vw; height: 56vw;
}

.banner_img img{
    width:100%; height: 56vw;
}
.banner_select{
    list-style: none;
    position:absolute; bottom:2.666vw; left: 50%;  z-index:100;
    transform: translateX(-50%);
}
.banner_select>li{
    display:inline-block;
    margin: 0 1.333vw;
    width: 3.2vw; height:0.533vw;
    background:#ccc;
    border-radius:0.533vw;
}
.banner_select>li.on{
    background:#fff;
}
